{
  "branches": [
    "main",
    {
      "name": "test",
      "prerelease": true
    }
  ],
  "plugins": [
    [
      "@semantic-release/commit-analyzer",
      {
        "config": "@fingerprintjs/conventional-changelog-dx-team",
        "releaseRules": "@fingerprintjs/conventional-changelog-dx-team/release-rules"
      }
    ],
    [
      "@semantic-release/release-notes-generator",
      {
        "config": "@fingerprintjs/conventional-changelog-dx-team"
      }
    ],
    "@semantic-release/changelog",
    [
      "@semantic-release/exec",
      {
        "prepareCmd": "VERSION=\"${nextRelease.version}\" ./scripts/update_version.sh"
      }
    ],
    [
      "@semantic-release/git",
      {
        "assets": [
          "CHANGELOG.md",
          "README.md",
          "pubspec.yaml",
          "ios/fpjs_pro_plugin.podspec",
          "android/build.gradle",
          "lib/fpjs_pro_plugin.dart",
          "example/pubspec.lock"
        ],
        "message": "chore(release): ${nextRelease.version} \\n\\n${nextRelease.notes}"
      }
    ],
    "@semantic-release/github",
    [
      "@fingerprintjs/semantic-release-native-dependency-plugin",
      {
        "iOS": {
          "podSpecJsonPath": "ios/fpjs_pro_plugin.podspec.json",
          "dependencyName": "FingerprintPro",
          "displayName": "Fingerprint iOS SDK"
        },
        "android": {
          "path": "android",
          "gradleTaskName": "printFingerprintNativeSDKVersion",
          "displayName": "Fingerprint Android SDK"
        }
      }
    ],
  ]
}
